@model AgendaContatos.Presentation.Models.PasswordRecoverViewModel

@{
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-5">
            <div class="card-body">

                <div class="text-center">
                    <h3> Esqueci minha senha</h3>
                    <p>Preencha o formulário para recuperar sua senha</p>
                </div>

                @using (Html.BeginForm())
                {
                        <div class="mb-2">
                            <label>Email de acesso:</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Email)
                            </span>
                        </div>

                        <div class="mb-2 d-grid">
                                <input type="submit" value="Recuperar Senha" class="btn btn-success" />
                        </div>

                        <div class="mb-2 d-grid">
                                <a href="/Account/Login" class="btn btn-primary">
                                Já possui conta? <strong>Acesse aqui!</strong>
                            </a>
                        </div>

                }

            </div>
        </div>
    </div>
</div>

